<!DOCTYPE html>
<html>
<head>
    <title>Primeiro Acesso</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">    
</head>
<body>
    <div class="container">
        <h1>Cadastro</h1>
        <form>
            <label for="username">Usuário (e-mail):</label>
            <input type="text" id="username" name="username" class="input-field" required>

            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" class="input-field" required>

            <input type="submit" value="Criar acesso" class="login-button">
        </form>
    </div>
</body>
</html>
