<!DOCTYPE html>
<html>
<head>
    <title>Image Display</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">    
</head>
<body>
    <div class="container">
        <h1>Gráfico</h1>
        <div class="image-container">
            <img src="static/graphs/relatorio_diario.png" alt="Image 1" class="image">
        </div>
        <table>
            <thead>
                <tr>
                    <th>Usuario</th>
                    <th>Idade</th>
                    <th>Tempo(Minutos)</th>
                </tr>
            </thead>
            <tbody>
                {% for usuarios in data %}
                <tr>
                    <td>{{ usuarios.nome }}</td> 
                    <td>{{ usuarios.idade }}</td>
                    <td>{{ usuarios.tempo_de_uso }}</td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div>
            <br>
            <form method="post" action="/controle_acesso">
                <button class="button-7" role="button">Envio de Relatório</button></form>
            <br>
            <button class="button-voltar" name="voltar" title="Retorna ao menu principal" onclick="location.href='pagina_inicial';" >Voltar</button>
        </div>
    </div>
</body>
</html>
<meta http-equiv="refresh" content="5" />