<!DOCTYPE html>
<html>
<head>
    <title>Data Display</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">    
</head>
<body>
    <div class="container" id>
        <h1>Tempo de Utilização(Hoje)</h1>
        <table>
            <thead>
                <tr>
                    <th>Usuario</th>
                    <th>Tempo(Minutos)</th>
                </tr>
            </thead>
            <tbody>
                {% for item in data %}
                <tr>
                    <td>{{ item.nome }}</td> 
                    <td>{{ item.tempo_de_uso }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
<meta http-equiv="refresh" content="5" />