<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">    
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        {% if message %}
        <script>
            window.alert("{{ message }}");
        </script>
        {% endif %}
        <form method="POST" action="/">
            <label for="username">Usuário (e-mail):</label>
            <input type="text" id="username" name="username" class="input-field" required>

            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" class="input-field" required>

            <input type="submit" value="Login" class="login-button">
        </form>
        <p class="create-user-link">Primeiro Acesso? <a href="{{ url_for('cadastro_usuario') }}" class="create-user">Clique Aqui</a></p>
    </div>
</body>
</html>
