<!DOCTYPE html>
<html>
<head>
    <title>Cadastro de Face</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">    
</head>
<body>
    <div class="container">
        <h1>Cadastro de Face</h1>
        {% if message %}
        <script>
            window.alert("{{ message }}");
        </script>
        {% endif %}
        <form method="POST" action="/registro_facial" enctype="multipart/form-data">
            <label for="name">Nome:</label>
            <input type="text" name="name" required><br>
            <label for="name">Idade:</label>
            <input type="number" name="age" step="1" required><br>
            <input type="file" name="image" accept="image/*" required><br>
            <br>
            <button class="button-7" role="button">Realizar Cadastro</button>
        <div>
            <br>
            <button class="button-voltar" name="voltar" title="Retorna ao menu principal" onclick="location.href='pagina_inicial';" >Voltar</button>
        </div>
        </form>
    </div>
    </div>
    
    </div>
</body>
</html>
